{% extends "layout.html" %}
{% block body %}
 
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/addalbumcomplete" method="POST">
          <label>Album Name</label>
          <div class="form-group">
                <input type="text" class="form-control" name="albumname">
          </div>
          <label>Artist</label>
           <div class="form-group">
               <select type="text" class="form-control" name="artistname" >
                   {% for data in artistlist %}
                       <option>{{ data.artistname }}</option>
                   {% endfor %}
               </select>
           </div>

          <label>Release Year</label>
          <div class="form-group">
                 <input type="text" class="form-control" name="albumyear">
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              ADD
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
 
{% endblock %}